@model  IEnumerable<MyPersonalLib.MvcUI.Models.BookListViewModel>
@{
    ViewBag.Title = "Index";
}

<hr />

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th> ID</th>
        <th> Kitap Adı</th>
        <th> Yazar</th>
        <th> Durum</th>
        <th> Puan</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.BookName</td>
            <td>@item.Author</td>
            <td>@item.Status</td>
            <td>@item.Rate</td>
        </tr>
    }
</table>
